#searchWrapper {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.col-lg-6 {
    width: 100%;
}

td {
    padding: 5px;
    vertical-align: top;
}

.userData {
    width: 200px;
}

#linkP, #friendsLink, #screenNamesLink {
    display: none;
}

.progress {
    display: none;
}

.table-responsive {
    display: none;
}

#friendsLink button {
    width: 150px;
}

#linkP a {
    padding-left: 10px;
}

#keywords {
    resize: none;
}

#searchBtn{
    width: 50%;
}

.row h3{
    margin-top: 50px;
}

.links{
    display: none;
}

.links a {
    margin: 10px;
}